forensic-env/
__pycache__/
data_game_2025/src/venv/*
data_game_2025/data/raw/datagame_sms_stage1_raw_TEXT_ONLY.csv
*.DS_Store
*.log
.idea/.gitignore
.idea/forensic.iml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
data_game_2025/results*
.idea/csv-editor.xml
.github/copilot-instructions.md
data_game_2025/data/backup/name_mistralai_magistral-small_20250710_1236.csv
data_game_2025/data/backup/name_mistralai_magistral-small_20250710_2204.csv
data_game_2025/data/backup/name_mistralai_magistral-small_20250711_1645.csv
data_game_2025/data/results/name_mistralai_magistral-small_20250712_1402.csv
data_game_2025/data/results/travel_mistralai_magistral-small_20250710_2231.csv
data_game_2025/data/results/travel_mistralai_magistral-small_20250711_0909.csv
data_game_2025/data/results/failed_batches/*
data_game_2025/src/wandb/latest-run
data_game_2025/src/wandb/*

data_game_2025/data/results/travel_mistralai_magistral-small_20250713_0232.csv
data_game_2025/data/results/name_mistralai_magistral-small_20250721_1855.csv
data_game_2025/data/results/name_mistralai_magistral-small_20250725_1345.csv
data_game_2025/wandb/*
data_game_2025/data/results/vote/llm_compare_result.csv
taiwan_tongue/llm_classifier.py
data_game_2025/src/bertopic/test_chinese_optimized_20250731_0059/cluster.csv
data_game_2025/README.md
data_game_2025/data/results/labled/stage2/測試賽上傳/category_result_0802晚_with_body.csv
data_game_2025/data/results/labled/stage2/測試賽上傳/category_result_0802晚.csv
data_game_2025/data/results/labled/stage2/測試賽上傳/name_result_0802晚_with_body.csv
data_game_2025/data/results/labled/stage2/測試賽上傳/name_result_0802晚.csv
taiwan_tongue/*
data_game_2025/data/raw/datagame_sms_stage2_revised.csv
.gitignore
